@keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 150%;
    }

    60% {
        border-radius: 50%;
    }

    100% {
        left: 50%;
        width: 100vw;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 150%;
    }

    60% {
        border-radius: 50%;
    }

    100% {
        right: 50%;
        width: 100vw;
        height: 100%;
        border-radius: 0;
    }
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 150%;
    }

    60% {
        border-radius: 50%;
    }

    100% {
        left: 50%;
        width: 100vw;
        height: 100%;
        border-radius: 0;
    }
}

@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 150%;
    }

    60% {
        border-radius: 50%;
    }

    100% {
        right: 50%;
        width: 100vw;
        height: 100%;
        border-radius: 0;
    }
}

.hero-tile {
    overflow: hidden;
    height: var(--hero-tile-height);
    position: absolute;
    z-index: 1;
    transition: all var(--tile-anim-speed) ease-in-out;
}

    .hero-tile:before, .hero-tile:after {
        position: absolute;
        top: 50%;
        content: '';
        width: 20px;
        height: 20px;
        background-color: var(--tile-gb-color);
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .hero-tile img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        object-fit: cover;
        z-index: -12;
    }

    .hero-tile:before {
        left: -20px;
        transform: translate(-50%, -50%);
    }

    .hero-tile:after {
        right: -20px;
        transform: translate(50%, -50%);
    }

@media only screen and (max-width: 600px) {
    .hero-tile {
        height: 25vh !important;
        width: 50vw;
    }

        .hero-tile.first-word {
            left: 0;
        }

        .hero-tile.second-word {
            right: 0;
        }

        .hero-tile.letter-1 {
            top: 0;
        }

        .hero-tile.letter-2 {
            top: 25vh;
        }

        .hero-tile.letter-3 {
            top: 50vh;
        }

        .hero-tile.letter-4 {
            top: 75vh;
        }
}

@media only screen and (min-width: 600px) {
    .hero-tile {
        width: 25vw;
    }

        .hero-tile.first-word {
            top: 0;
        }

        .hero-tile.second-word {
            bottom: 0;
        }

        .hero-tile.letter-1 {
            left: 0;
        }

        .hero-tile.letter-2 {
            left: 25vw;
        }

        .hero-tile.letter-3 {
            left: 50vw;
        }

        .hero-tile.letter-4 {
            left: 75vw;
        }
}

@media (hover: none) {
    @media only screen and (max-width: 600px) {
        .hero-tile.active {
            top: 0;
            width: 100%;
            height: 100vh !important;
            cursor: pointer;
            z-index: 10;
        }
    }

    @media only screen and (min-width: 600px) {
        .hero-tile.active {
            left: 0;
            width: 100%;
            height: 60vh !important;
            cursor: pointer;
            z-index: 10;
        }
    }

    .hero-tile.active img {
        display: inline;
        width: 100%;
        height: 100%;
        z-index: -12;
        transition: all var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
    }

    .hero-tile.active:before {
        -webkit-animation: criss-cross-left var(--tile-anim-speed) both;
        -webkit-animation-direction: alternate;
        animation: criss-cross-left var(--tile-anim-speed) both;
        animation-direction: alternate;
        z-index: -11;
    }

    .hero-tile.active:after {
        -webkit-animation: criss-cross-right var(--tile-anim-speed) both;
        -webkit-animation-direction: alternate;
        animation: criss-cross-right var(--tile-anim-speed) both;
        animation-direction: alternate;
        z-index: -10;
    }

    .hero-tile.active:before, .hero-tile.active:after {
        background-color: transparent;
        transition: background-color var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
    }
}

@media (hover: hover) {
    @media only screen and (max-width: 600px) {
        .hero-tile:hover {
            top: 0;
            width: 100%;
            height: 100vh !important;
            cursor: pointer;
            z-index: 10;
        }
    }

    @media only screen and (min-width: 600px) {
        .hero-tile:hover {
            left: 0;
            width: 100%;
            height: 60vh !important;
            cursor: pointer;
            z-index: 10;
        }
    }

    .hero-tile:hover img {
        display: inline;
        width: 100%;
        height: 100%;
        z-index: -12;
        transition: all var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
    }

    .hero-tile:hover:before {
        -webkit-animation: criss-cross-left var(--tile-anim-speed) both;
        -webkit-animation-direction: alternate;
        animation: criss-cross-left var(--tile-anim-speed) both;
        animation-direction: alternate;
        z-index: -11;
    }

    .hero-tile:hover:after {
        -webkit-animation: criss-cross-right var(--tile-anim-speed) both;
        -webkit-animation-direction: alternate;
        animation: criss-cross-right var(--tile-anim-speed) both;
        animation-direction: alternate;
        z-index: -10;
    }

    .hero-tile:hover:before, .hero-tile:hover:after {
        background-color: transparent;
        transition: background-color var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
    }
}
