.hero {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.h-100pc {
    height: 100%;
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 150%;
    }

    75% {
        border-radius: 50%;
    }

    100% {
        left: 50%;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 150%;
    }

    75% {
        border-radius: 50%;
    }

    100% {
        right: 50%;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 150%;
    }

    75% {
        border-radius: 50%;
    }

    100% {
        left: 50%;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 150%;
    }

    75% {
        border-radius: 50%;
    }

    100% {
        right: 50%;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

.hero-tile {
    overflow: hidden;
    width: 25vw;
    height: var(--hero-tile-height);
    position: absolute;
    z-index: 1;
    transition:
        width 0.5s ease-in-out,
        height 0.5s ease-in-out,
        left 0.5s ease-in-out;
}

    .hero-tile:before, .hero-tile:after {
        position: absolute;
        top: 50%;
        content: '';
        width: 20px;
        height: 20px;
        background-color: var(--tile-gb-color);
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .hero-tile:before {
        left: -20px;
        transform: translate(-50%, -50%);
    }

    .hero-tile:after {
        right: -20px;
        transform: translate(50%, -50%);
    }

    .hero-tile:hover:before {
        -webkit-animation: criss-cross-left 1.5s both;
        -webkit-animation-direction: alternate;
        animation: criss-cross-left 0.5s both;
        animation-direction: alternate;
    }

    .hero-tile:hover:after {
        -webkit-animation: criss-cross-right 1.5s both;
        -webkit-animation-direction: alternate;
        animation: criss-cross-right 0.5s both;
        animation-direction: alternate;
    }

    .hero-tile.top {
        top: 0;
    }

    .hero-tile.bottom {
        bottom: 0;
    }

    .hero-tile.left-0 {
        left: 0;
    }

    .hero-tile.left-1 {
        left: 25vw;
    }

    .hero-tile.left-2 {
        left: 50vw;
    }

    .hero-tile.left-3 {
        left: 75vw;
    }

    .hero-tile:hover {
        cursor: pointer;
        left: 0;
        width: 100%;
        z-index: 10;
        height: 60vh !important;
    }
