html, body {
    font-family: 'Share Tech Mono', sans-serif;
    color: var(--font-primary-color);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

.hero-tile-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    fill: transparent;
    stroke: var(--font-primary-color);
    stroke-width: 0.01em;
    stroke-linejoin: round;
    transition: stroke var(--tile-anim-speed) ease-in-out;
}

.hero-tile.hide .hero-tile-text {
    stroke: transparent;
}

.hero-tile-text-name {
    stroke: transparent;
}

.hero-tile-text-bg {
    stroke: transparent;
    stroke-width: 0.1em;
}

@media (hover:hover) {
    .hero-tile:hover .hero-tile-text .hero-tile-text-char {
        transition: stroke var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
        stroke: transparent;
    }

    .hero-tile:hover .hero-tile-text .hero-tile-text-name {
        transition: stroke var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
        stroke: var(--font-primary-color);
    }

    .hero-tile:hover .hero-tile-text .hero-tile-text-bg {
        transition: stroke var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
        stroke: var(--tile-text-background-color);
    }
}

@media (hover:none) {
    .hero-tile.active .hero-tile-text .hero-tile-text-char {
        transition: stroke var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
        stroke: transparent;
    }

    .hero-tile.active .hero-tile-text .hero-tile-text-name {
        transition: stroke var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
        stroke: var(--font-primary-color);
    }

    .hero-tile.active .hero-tile-text .hero-tile-text-bg {
        transition: stroke var(--tile-anim-speed) ease-in-out var(--tile-anim-quart-speed);
        stroke: var(--tile-text-background-color);
    }
}

/* Extra small devices like small phones */
@media only screen and (max-width: 600px) {
    .hero-tile-text {
        font-size: 90px;
    }
}

/* Small devices like portrait tablets and landscape phones */
@media only screen and (min-width: 600px) {
    .hero-tile-text {
        font-size: 110px;
    }
}

/* Medium devices like landscape tablets */
@media only screen and (min-width: 768px) {
    .hero-tile-text {
        font-size: 130px;
    }
}

/* Large devices such as laptops and desktops */
@media only screen and (min-width: 992px) {
    .hero-tile-text {
        font-size: 160px;
    }
}

/* Extra large devices such as large laptops and desktops */
@media only screen and (min-width: 1200px) {
    .hero-tile-text {
        font-size: 200px;
    }
}
