:root {
    --mouse-x: -1000;
    --mouse-y: -1000;
    --font-primary-color: #ffffffff;
    --font-secondary-color: #5996e2;
    --font-highlight-color: #8ac8a5;
    --navbar-color: #AACACA;
    --navbar-height: 56px;
    --background-color: #001515;
    --background-color-2: #003535;
    --section-background-color: #00404055;
    --tile-text-background-color: #002020BB;
    --mouse-tracking-color: #004545FF;
    --tile-gb-color: #AACACA;
    --tile-anim-speed: 0.75s;
    --tile-anim-quart-speed: 0.1875s;
    --h1-size: 1.5rem;
    --h2-size: 1.35rem;
    --h3-size: 1.2rem;
    --h4-size: 1.1rem;
    --h5-size: 1.05rem;
    --h6-size: 1.0rem;
}
