@import "_variables.css";
@import "_reset.css";
@import "_typography.css";
@import "_loading.css";
@import "_hero.css";
@import "_blazor.css";
@import "_mouse-tracking.css";
@import "_layout.css";

body {
    background-color: var(--background-color);
}
