.loading-body {
    margin: 0;
    background: #32333d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loading-body.done {
    display: none;
}

.loading-logo {
    display: block;
    width: 22rem;
    height: 22rem;
}

/* Animation of the logo */
.logo-outline {
    stroke-width: 3;
    stroke-dasharray: 250;
    fill-opacity: 0;
    animation: dash 1.5s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 500;
    }
}

/* Typewriting of WIP word content */
.wip-content {
    position: absolute;
    display: block;
    width: 30rem;
    height: 30rem;
}

.wip-welcome {
    position: absolute;
    display: inline;
    left: 50%;
    color: var(--font-primary-color);
    width: fit-content;
    block-size: fit-content;
    transform: translate(-70%, 0);
    font-family: "Source Code Pro", monospace;
}

.wip-dev {
    position: absolute;
    display: inline;
    top: 2rem;
    right: 0;
    transform: translate(-55%, 0);
    color: var(--font-highlight-color);
    font-family: "Source Code Pro", monospace;
}

.wip-msg {
    position: absolute;
    display: inline;
    bottom: 2rem;
    left: 50%;
    color: var(--font-highlight-color);
    transform: translate(-53%, 0);
    font-family: "Source Code Pro", monospace;
    width: fit-content;
}

.wip-welcome::before,
.wip-welcome::after,
.wip-dev::before,
.wip-dev::after,
.wip-msg::before,
.wip-msg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wip-welcome::before {
    background: var(--background-color);
    animation: typewriter 2s steps(11) 1s forwards;
}

.wip-welcome::after {
    width: 0.2rem;
    opacity: 0;
    background: var(--font-primary-color);
    animation: typewriter 2s steps(11) 1s forwards,
        blink 250ms steps(11) infinite,
        blink 500ms ease 3s forwards
}

.wip-dev::before {
    background: var(--background-color);
    animation: typewriter 2s steps(21) 4s forwards;
}

.wip-dev::after {
    width: 0.2rem;
    opacity: 0;
    background: var(--font-highlight-color);
    animation: blink 250ms steps(21) 3.5s infinite,
        typewriter 2s steps(21) 4s forwards,
        blink 500ms ease 6s forwards;
}

.wip-msg::before {
    background: var(--background-color);
    animation: typewriter 1s steps(26) 7.5s forwards;
}

.wip-msg::after {
    width: 0.2rem;
    opacity: 0;
    background: var(--font-highlight-color);
    animation: blink 250ms steps(26) 7s infinite,
        typewriter 1s steps(26) 7.5s forwards,
        blink 500ms ease 8s forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
