.loading-body {
    margin: 0;
    background: #32333d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-body.done {
    display: none;
}

.loading-logo {
    display: block;
}
