@page "/career"

<Hero Title="Career" />
<PageSection>
    <p>Foo</p>
</PageSection>
<PageSection>
    <p>Bar</p>
</PageSection>
<PageSection>
    <p>Foo</p>
</PageSection>
<PageSection>
    <p>Bar</p>
</PageSection>
<PageSection>
    <p>Foobar</p>
</PageSection>