@page "/"

<Hero>
    <FlexBox IsColumn FullHeight>
        <FlexBox Class="flex-grow-1">
            <div class="flex-grow-1">
                <h1 class="hero-tile-text">C</h1>
            </div>
            <div class="flex-grow-1">
                <h1 class="hero-tile-text">O</h1>
            </div>
            <div class="flex-grow-1">
                <h1 class="hero-tile-text">D</h1>
            </div>
            <div class="flex-grow-1">
                <h1 class="hero-tile-text">E</h1>
            </div>
        </FlexBox>

        <FlexBox Class="flex-grow-1">
            <div class="flex-grow-1">
                <h1 class="hero-tile-text">D</h1>
            </div>
            <div class="flex-grow-1">
                <h1 class="hero-tile-text">U</h1>
            </div>
            <div class="flex-grow-1">
                <h1 class="hero-tile-text">D</h1>
            </div>
            <div class="flex-grow-1">
                <h1 class="hero-tile-text">E</h1>
            </div>
        </FlexBox>
    </FlexBox>
</Hero>