@page "/"

<div class="loading-body">
    <object class="loading-logo" type="image/svg+xml" data="images/logo.svg"></object>
    <div class="wip-content">
        <h1 class="wip-welcome">Kyle Hobdey welcomes you</h1>
        <h3 class="wip-msg">Under Construction!</h3>
        <h6 class="wip-dev">// Software developer</h6>
    </div>
</div>