@page "/"

<div id="loading-body">
    <div id="loading-container">
        <h1 class="wip-welcome">Kyle Hobdey</h1>
        <h3 class="wip-msg">WIP</h3>
        <h6 class="wip-dev">// Software Developer</h6>
        <div id="loading-sphere"></div>
    </div>
</div>