@page "/"

<div id="loading-body">
    <div id="loading-container">
        <h1 class="wip-welcome">Kyle Hobdey welcomes you</h1>
        <h3 class="wip-msg">Under Construction!</h3>
        <h6 class="wip-dev">// Software developer</h6>
        <div id="loading-sphere"></div>
    </div>
</div>