@inherits BaseSiteComponent

<section class="@Classes" style="@Styles" @attributes="UserAttributes">
    <svg class="hero-text" width="100%" height="100%">
        <text class="hero-text-bg" x="50%" y="80%" dominant-baseline="middle" text-anchor="middle">@Title.ToUpper()</text>
        <text class="hero-text-name" x="50%" y="80%" dominant-baseline="middle" text-anchor="middle">@Title.ToUpper()</text>
    </svg>
</section>
