@inherits BaseSiteComponent

<section class="@Classes" style="@Styles" @attributes="UserAttributes">
    <div class="header">
        <svg class="tile-text" width="100%" height="100%">
            <text class="tile-text-bg" x="50%" y="80%" dominant-baseline="middle" text-anchor="middle">@Title.ToUpper()</text>
            <text class="tile-text-name" x="50%" y="80%" dominant-baseline="middle" text-anchor="middle">@Title.ToUpper()</text>
        </svg>
    </div>
</section>
