@inherits BaseComponent

<div class="@Classes" @attributes="UserAttributes" style="@Style">
    <svg class="hero-tile-text" width="100%" height="100%">
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">@Text</text>
    </svg>
    <img src="/images/home/IDE Illustration.png" alt="TODO" />
</div>
